*{
	margin:0px;
	padding:0px;
}
header,nav,aside,hgroup,footer,article,section{
	display:block;
}
body{
	text-align:center;
}
#big_wrapper{
	border-top:3px groove black;
	width:1300px;
	margin:10px auto;
	text-align:left;
}
#side{
	float:left;
	margin-top:2px;
}
#main_heading{
	text-align:center;
	border-bottom:3px ridge white;
	font-style:monospace;
	padding:20px;
	font-weight:bold;
	background-color:#5883D8;
}
#content_display{
	float:left;
	width:1000px;
	margin:20px;	/*720px ,280px left*/
	position:relative;
}